<h1>Products</h1>

<div class="card">
    <div class="card-head"> Lorem ipsum - product 1 </div>
        <div class="card-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel saepe obcaecati animi minima fugiat facere molestias repellendus maiores eum nisi, iure tempore inventore neque et! Alias reprehenderit repudiandae amet aliquam!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, magnam tempore reiciendis iure aliquam animi laborum aperiam numquam! Voluptatum enim, corrupti nisi quam fugit dolore provident voluptate possimus veritatis beatae.
     </div>
</div>

<div class="card">
    <div class="card-head"> Lorem ipsum - product 2 </div>
        <div class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa id eveniet earum necessitatibus atque soluta qui quam eum at rem explicabo corrupti cumque, magni eos molestias saepe voluptates minima ducimus?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel saepe obcaecati animi minima fugiat facere molestias repellendus maiores eum nisi, iure tempore inventore neque et! Alias reprehenderit repudiandae amet aliquam!
        </div>
</div>